<% layout('layouts/boilerplate') %>

<div id="map" style="width: 100%; height : 500px;"></div>

<h1>All camps</h1>
<% for(let camp of camps ){ %>

<div class="card d-flex flex-row mt-1 w-100">
  <% if(camp.images.length){ %> 
    <img src="<%= camp.images[0].url %>" class="card-img-top w-25" alt="..." />
  <% }else{ %>
    <img src="" class="card-img-top w-25" alt="..." />
  <% } %> 

  <div class="card-body">
    <h5 class="card-title"><%= camp.title %></h5>
    <p class="card-text"><%= camp.description %></p>
    <p class="card-text text-muted"><%= camp.place %>, <%= camp.state %></p>
    <a href="./campground/<%=camp._id %>" class="btn btn-primary"
      >View <%= camp.title %>
    </a>
  </div>
</div>

<% } %>

<button class="btn btn-primary w-100" onclick='location.href = "/new-camp"'>
  +
</button>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>' 
  const camps = {features : JSON.parse('<%- JSON.stringify(camps) %>')}
</script>
<script src="/js/clustermap.js"></script>